*{
    box-sizing: border-box;
    margin: 0;
}
.navbar{
    height: 50px;
    width: 100vw;
    background-color: aqua;
    display: flex;
    justify-content: flex-end;
}
.nav-item{
    flex: 0.15;
    margin-top: 15px;
}
#nav-logo{
    flex: 0.4;
    margin-left: 75px;
}
